/* ------------------------------------------------------------ */
/* ------------------- Projects------------------------ */
/* ------------------------------------------------------------ */

.imageBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  padding-top: 30px;
}

#project_description {
  margin: 10%;
}
#project_description img {
  width: 100%;
  padding-bottom: 30px;
}

.imageBox img {
  box-shadow: 5px 5px 10px rgb(168, 168, 168);
  border: 2px solid rgb(38, 38, 38);
  border-radius: 20px;
  width: 80%;
}

.container {
  position: relative;
  
}

.project_images {
  max-height: 100px;
}

#project_description b {
  padding-top: 50px;
}

.container h1 {

  color: #ffffff;

}

.linkText {
  box-shadow: 5px 5px 5px rgb(168, 168, 168, 0.8);
  border: 5px solid rgb(60, 47, 47);
  border-radius: 20px;
  padding: 15px;
  background-color: rgb(175, 151, 151);
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.linkText:hover {
  background-color: rgb(49, 49, 49);
}

.container p {
  font-size: 18px;
  color: white;
}

.container h2 {
  color: white;
  margin: 0;
}

.container ul {
  color: white;
  list-style-type: none;
  padding-left: 0;

}
