.about {
  border-radius: 5px;
  background-image: url("images/iamge2.jpg");
  background-size: cover;
  left: 44%;
  transform: translateX(-44%);
  width: 20%;
  height: 150px;
  position: absolute;
  
  z-index: 3;
  font-size: 180%;
  text-align: center;
  margin-top: 75px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-left: 2px solid #000; /* Border on the left edge */
  border-bottom: 2px solid #000; /* Border on the bottom edge */
  border-top: 2px solid #000; /* Border on the bottom edge */
  border-right: 2px solid #000; /* Border on the left edge */
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about:hover {
  cursor: pointer;
  opacity: 0.5;
}

.aboutme_appear {
  background-size: cover;
  background-position: bottom;
  background-color: rgba(255, 255, 255, 0.9);

  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-radius: 5px;
  position: absolute;
  left: 65%;
  height: 225px;
  width: 33%;
  max-width: 800px;
  margin-top: 32px;
  opacity: 0;
  padding: 20px;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.aboutme_appear img {
    max-width: 190px;
    border-radius: 1000px;
    margin-top: -88px;
    margin-left: 69%;
    position: absolute;
}

.aboutme_appear p {
    max-width: 65%;
    font-size: 20px;
    margin-left: 10px;
}

.aboutme_appear.show {
  opacity: 1;
  visibility: visible;
}

#aboutme1 {
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  width: 1000px;
  margin-left: -640px;
  margin-top: 350px;
  visibility: visible;
}

.white {
  height: 1000px;
  width: 100%;
  background-color: #ffffff;
  background-image: url("images/paper.jpg");
  position: relative;
  z-index: -101;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
}

.background1 {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  position: relative;
  z-index: -100;

  overflow: hidden;
}

.background1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.background1 img {
  max-width: 100%; /* Set maximum width for the image */
  width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
}

.line1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  transform: rotate(95deg);
  background-color: #ffffff;
  margin-top: 100px;
  margin-left: -20%;
  position: absolute;
  z-index: -1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.line2 {
  height: 30px;
  width: 6000px;

  background-color: #ffffff;
  margin-top: 280px;
  margin-left: 29.7%;
  position: absolute;
  z-index: -1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.line3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 340px;
  transform: rotate(90deg);
  background-color: #ffffff;
  margin-top: 100px;
  margin-left: 52%;
  position: absolute;
  z-index: -1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
