.about {
  border-radius: 5px;
  background-image: url("images/iamge2.jpg");
  background-size: cover;
  left: 44%;
  transform: translateX(-44%);
  width: 20%;
  max-width: 384px;
  height: 150px;
  position: absolute;
  z-index: 3;
  font-size: 180%;
  text-align: center;
  margin-top: 75px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-left: 2px solid #000; /* Border on the left edge */
  border-bottom: 2px solid #000; /* Border on the bottom edge */
  border-top: 2px solid #000; /* Border on the bottom edge */
  border-right: 2px solid #000; /* Border on the left edge */
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about:hover {
  cursor: pointer;
  opacity: 0.5;
}

.aboutme_appear {
  background-size: cover;
  background-position: bottom;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-radius: 5px;
  position: absolute;
  word-wrap: break-word;
  left: 63.5%;
  min-height: 225px;
  height: auto;
  width: 33%;
  max-width: 800px;
  margin-top: 32px;
  opacity: 0;
  padding: 20px;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  word-wrap: break-word;
  max-height: 100px;
  overflow: hidden;
  float: right;
}

.aboutme_appear img {
  max-width: 8vw;
  height: auto;
  border-radius: 1000px;
  width: 100%;
  margin-left: 50px;
}

.aboutme_appear p {
  color: black;

  font-size: 1.2vw;
  margin-left: 2%;
}

@media screen and (max-width: 1200px) {
  .aboutme_appear p {
    font-size: 1.5vw; /* Adjust font size for smaller screens */
  }
}

@media screen and (min-width: 1200px) {
  .aboutme_appear p {
    font-size: 1vw; /* Adjust font size for larger screens */
  }
}

@media (min-width: 125%) {
  body {
    transform: scale(1.25); /* Set the initial scale to 125% */
  }

  .zoomed {
    transform: scale(2); /* Set the additional scale for the specific element */
  }
}

.aboutme_appear.show {
  opacity: 1;
  visibility: visible;
}

#aboutme1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  width: 15%;
  height: auto;
  max-width: calc(0.15 * 1920);
  max-height: 800px;
  padding-top: 20px;
  left: 45%;
  transform: translateX(-60%);
  margin-top: 350px;
  visibility: visible;
  font-size: 1vw;
  font-family: "Sora", sans-serif;
}

#aboutme2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  width: 15%;
  height: auto;
  max-width: calc(0.15 * 1920);
  max-height: 800px;
  padding-top: 20px;
  left: 60%;
  transform: translateX(-60%);
  visibility: visible;
  margin-top: 350px;
  font-size: 1vw;
  font-family: "Sora", sans-serif;
}

#aboutme3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  width: 15%;
  height: auto;
  max-width: calc(0.15 * 1920);
  max-height: 800px;
  padding-top: 20px;
  left: 75%;
  visibility: visible;
  transform: translateX(-60%);
  margin-top: 350px;
  font-size: 1vw;
  font-family: "Sora", sans-serif;
}

#aboutme4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  width: 15%;
  height: auto;
  max-width: calc(0.15 * 1920);
  max-height: 800px;
  padding-top: 20px;
  left: 90%;
  transform: translateX(-60%);
  visibility: visible;
  margin-top: 350px;
  font-size: 1vw;
  font-family: "Sora", sans-serif;
}

.minimise {
    display: flex;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
   opacity: 0;
  left: 44.5%;
  z-index: 200;
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
  border-radius: 3px;
  margin-top: 30px;
background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
}
.minimise:hover {
    background-color: rgb(255, 231, 231);
    cursor: pointer;
}

.minimise img {
  border: 2px solid black;
}

.minimise.show {
  opacity: 1;
  visibility: visible;
}

.white {
  height: 1000px;
  width: 100%;
  background-color: #ffffff;
  background-image: url("images/paper.jpg");
  position: relative;
  z-index: -101;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
}

.background1 {
    
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  position: relative;
  z-index: -100;

  overflow: hidden;
}

.background1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.background1 img {
  max-width: 100%; /* Set maximum width for the image */
  width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
}

.line1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  transform: rotate(95deg);
  background-color: #ffffff;
  margin-top: 100px;
  margin-left: -20%;
  position: absolute;
  z-index: -1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.line2 {
  height: 30px;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 280px;
  margin-left: 29.7%;
  position: absolute;
  z-index: -1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

body {
  overflow-x: hidden;
}
