* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Marcellus", serif;

  font-family: "Passion One", sans-serif;
  font-family: "DM Serif Display", serif; /*
  font-family: 'Nova Square', sans-serif;/*
  font-family: 'Righteous', sans-serif;
  
  font-family: "Sora", sans-serif; 
  */
}
#navbarOutline {
  position: fixed;
  margin-top: 15px;
  background: rgba(255, 255, 255);
}

.navbar {
  border-bottom: 2px solid #000;
  background: rgb(248, 248, 248);
  /* outline: 2px solid #EEEEEE; */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  margin-right: 0;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#logo {
  background-color: #000;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.6rem;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 0px;
}

.navbar_link {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.line1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  transform: rotate(95deg);
  background-color: #ffffff;
  margin-top: 100px;
  margin-left: -20%;
  position: absolute;
  z-index: -1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.line2 {
  height: 30px;
  width: 6000px;

  background-color: #ffffff;
  margin-top: 400px;
  margin-left: 29.2%;
  position: absolute;
  z-index: -1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


.section2 {
  background-color: #d3d3d328;
  height: 100px; /* Adjust the height as needed */
  width: 100%;
  margin-top: -50px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3 {
  background-color: #feecec;
  height: 400px; /* Adjust the height as needed */
  width: 100%;
  /* margin-top: 400px; */
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Side Navigation Bar Styles */
.sidenav {
  border: 4px double #000000;

  background-image: url("images/iamge2.jpg");
  background-size: cover;
  height: 300px;
  width: 336px;
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8); /* 0.8 transparency */
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  margin-top: 200px;
  margin-left: -20px;
}

/* Links in the Side Navigation Bar */
.sidenav a {
  padding: 15px 15px;
  text-decoration: none;
  font-size: 24px;
  color: rgb(0, 0, 0);
  display: block;
  transition: 0.3s;
  padding-left: 70px;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #b5b5b5;
}

/* Main Content Styles */
.main {
  transition: margin-left 0.5s;
}

#maintext {
  margin-left: 220px; /* Same as the width of the side navigation bar */
  margin-right: 200px;

  transition: margin-left 0.5s;
  padding-bottom: 40px;
}

h2 {
  padding-top: 40px;
  margin-left: 220px; /* Same as the width of the side navigation bar */
  margin-right: 220px;

  transition: margin-left 0.5s;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #dcb8b8;
  height: 100px;
}
